.wbl table .head {
	background: #ccc;
}
.wbl th, .wbl td {
	padding: 5px 10px;
	text-align: left;

}
.wbl th {
	color: #fff;
}
.wbl td {
	background: #fff;
}
.wbl form label {
	display: inline-block;
	width: 200px;
	font-weight: bold;
	margin: 10px;
}
.wbl form textarea {
	width: 530px;
	height: 200px;
}
.wbl form input {
	width: 300px;
}
.wbl form input[type=submit] {
	padding: 5px 10px;
	width: auto;
	margin-top: 10px;
}
.success {
	display: block;
	padding: 10px 20px;
	background: #f0eab8;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-top: 20px;
	margin-right: 20px;
}
.participa td {
	background: #f0e8db;
}
.importante td {
	background: #f0eab8;
}
.noimportante td {
	background: #f9f9f9;
	color: #999;
}
.noactiva td {
	background: #ee9292;
}
.listo td {
	background: #cde3c3;
}
span.name {
	display: inline-block;
}
.name {
	position: relative;
}
.name .info, .name .info2 {
	position: absolute;
	background: #f0eab8;
	left: 0px;
	border: 1px solid #ccc;
	width: 80px;
	padding: 5px;
	display: none;
}
.name .info2 {
	width: auto;
	top: 20px;
	z-index: 99;
	left: 10px;
}
.infolarge {
	width: 200px !important;
}
.inforight {
	left: auto !important;
	right: 10px !important;
}
.name:hover > .info {
	display: block;
}
.name:hover > .info2 {
	display: block;
}
.cuadro {
	display: inline-block;
	margin: 0 10px;
	width: 10px;
	height: 10px;
	border: 1px solid #ccc;
}